QMainWindow {
    background-color: #1e1e1e;
}

QDockWidget {
    background-color: #252525;
    color: #dddddd;
    font-size: 14px;
}

QListWidget {
    background-color: #2b2b2b;
    color: #e0e0e0;
}

QWidget {
    color: #e0e0e0;
    background-color: #1e1e1e;
}
